$color-background: #F5F5F5;
$color-black: #000000;
$color-white: #FFFFFF;
$color-blue: #0066CC;
$color-brown: #8F754F;
$color-dark-grey: #555555;
$color-text-dark: #333333;
$color-accent: wheat;


$spacing-sm: 5px;
$spacing-md: 10px;
$spacing-lg: 20px;
$spacing-xl: 50px;
$radius-for-borders: 10px;