.info-page {
    display: flex;
    margin: 0 auto;

}

.info-page__info-column {
    color: black;
}

body {
    background-color: #F5F5F5;
    box-sizing: border-box;
    margin: 0;
    font-weight: 600;
}

h1, h2, h3, h4, ul, p {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none;
}

.info-page__group-info {
    border-radius: 3px;
    border: 3px solid #8F754F;
    padding: 20px 10px;
    margin-right: 70px;
}

.info-page__service-header {
    color: #333333 ;
}

.info-page__group-header {
    color: #0066CC ;
}

.info-page__node-header {
    color: #FFFFFF;
    display: inline-block;
}
.info-page__node-short-info {
    padding: 5px;
    display: flex;
    gap: 5px;
    border: 1px solid black;
    width: 600px;
    background-color: #555555 ;
    justify-content: space-between;
}

.info-page__node-long-info {
    display: flex;
    gap: 10px;
}

.info-page__node-list {
    display: flex;
    padding: 1px;
}

.info-page__node-metrics {
    display: flex;
    gap: 10px;
}
