.info-page {
    display: flex;
    margin: 0 auto;

}

.info-page__info-column {
    padding: 10px 30px;
    color: #ebd4d4;
}

body {
    background-color: #fff0f0;
    box-sizing: border-box;
    margin: 0;
    font-weight: 600;
    background-color: #835858;
}

